<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link</title>
</head>
<body>
    <div class="contener">
        <h1>Pleas check your email</h1>
        <button class="btn btn-prumery"><a href='https://mail.google.com/mail'>check</a></button>
    </div>
</body>
</html>